{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="confirm-email-page">
        <div class="container">
            <h1 class="title">Thank you for registering</h1>
            <div class="arrow">
                <i class="long-arrow-down text-white d-block text-center">↓</i>
            </div>
            <p class="text-white text-center mb-4">
                Just one more step to complete the process:
            </p>
            <p class="text-white text-center">
                Please confirm your registration by clicking <br> on the email we just sent you.
            </p>
        </div>
    </div>
{% endblock content %}