{% extends "index_old.html" %}
{% load static %}

{% block content %}
<section class="first_row home">
    <div class="row">
        <div class="col-12 col-sm-8 main_news">
            <h2 class="section_news">
                <span>News Releases</span>
            </h2>
            <a href="{% url "article_old" %}">
                <div class="item">
                    <img src="{% static "blog/images/news.jpg.png" %}">
                    <div class="title_box">
                        <div class="category_date"><span class="category">NEWS RELEASES - </span> 03 January 2018</div>
                        <div class="title">World Official Retailer - the game has started</div>
                        <div class="subtitle">Watchbot is the first luxury watch buying and selling web platform, guaranteed by official retailers</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-4">
            <h3 class="section_keep d-none d-sm-block">
                <span>Subscribe</span>
            </h3>
            <form method="post" class=" d-none d-sm-block">
                <div class="input-group with-btn">
                  <input type="email" class="form-control" name="email" placeholder="Your e-mail">
                  <span class="input-group-btn">
                    <button class="btn btn-primary black" type="submit">
                        Sign Up
                    </button>
                  </span>
                </div>
                <div class="input-group newsletter_agreement">
                    <label for="newsletter_agreement">
                        <input type="checkbox" id="newsletter_agreement">
                        I have read and accept the <a href="#"><strong>Privacy Policy</strong></a>
                    </label>
                </div>
            </form>
            <div class="tutorial">
                <div class="title">How Watchbot works</div>
                <div class="subtitle">Video below explain the use of Watchbot</div>
                <div class="video_preview">
                    <img src="{% static "blog/images/tutorial_preview.jpg" %}">
                    <div class="play"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="second_row home">
    <div class="row">
        <div class="col-12 col-sm-4 order-last order-sm-first">
            <div class="trending">
                <div class="title  d-none d-sm-block">Trending</div>
                <ul class="nav flex-column d-none d-sm-block">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "article_old" %}">Leica Puts Fancy Watched in Focus for $12,000 and Up</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url "article_old" %}">Roger Dubuis From bedouin to boardroom</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "article_old" %}">Russia Puts Browder on Interpol Wanted List, Blocking Travel</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "article_old" %}">Americans Are Retiring Later, Dying Sooner and Sicker In-Between</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "article_old" %}">NFL’s $205 Million Man Is Hated by Everyone But Those Who Matter</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "article_old" %}">Patek Philippe Just Opened a Mind-Blowing Museum</a></li>
                </ul>
            </div>
            <div class="advertising">
                <div class="title">Advertising</div>
                {% comment %}<img src="{% static "blog/images/adv.jpg" %}">{% endcomment %}
            </div>
        </div>
        <div class="col-12 col-sm-8">
            <div class="row news view_technical">
                <div class="col col-sm-8">
                    <div class="section_title">Luxury Watch Market</div>
                    <a href="{% url "article_old" %}">
                        <div class="box box_view item">
                            <div class="img_container">
                                <img src="{% static 'blog/images/view.jpg' %}">
                            </div>
                            <div class="textarea">
                                <div class="category_date"><span class="category">LUXURY WATCH MARKET - </span> 10 June 2018</div>
                                <div class="title">Hermes at SIHH 2018 The Beautifully twisted Arceau Chrono Titane</div>
                                <div class="author">By Tracey Llewellyn</div>
                                <div class="subtitle">Hermes horology department has started this year with a bang (quite literally).</div>
                            </div>
                            <div class="separator_bar"></div>
                        </div>
                    </a>
                </div>
                <div class="col col-sm-4">
                    <div class="section_title">Watch Guide</div>
                    <a href="{% url "article_old" %}">
                        <div class="box box_technical item">
                            <div class="textarea">
                                <div class="category_date"><span class="category">WATCH GUIDE - </span> 10 June 2018</div>
                                <div class="title">Trade In a Luxury Watch Like a BMW: It’s a Booming Business</div>
                                <div class="author">By Stephanie Hoi-Nga Wong</div>
                                <div class="subtitle">Having seen the resale business for timepieces explode in the past few years</div>
                            </div>
                            <div class="separator_bar"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row news three_news">
                <div class="col-sm-4">
                    <a href="{% url "article_old" %}" class="item">
                        <div class="img_container">
                            <img src="{% static 'blog/images/news1.jpg' %}">
                        </div>
                        <div class="textarea">
                            <div class="category_date"><span class="category">LIFESTYLE - </span> 05 January 2018</div>
                            <div class="title">OnTheRoad: New York, New York… W/ TIFFANY & CO.</div>
                        </div>

                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{% url "article_old" %}" class="item">
                        <div class="img_container">
                            <img src="{% static 'blog/images/news2.jpg' %}">
                        </div>
                        <div class="textarea">
                            <div class="category_date"><span class="category">WATCH - </span> 05 January 2018</div>
                            <div class="title">Xeric Halograph II Automatic Watch</div>
                        </div>

                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{% url "article_old" %}" class="item">
                        <div class="img_container">
                            <img src="{% static 'blog/images/news3.jpg' %}">
                        </div>
                        <div class="textarea">
                            <div class="category_date"><span class="category">WATCH - </span> 05 January 2018</div>
                            <div class="title">Klokers Klok-01 Watch With Midnight Blue Dial</div>
                        </div>

                    </a>
                </div>
            </div>
            <div class="row news technical_lifestyle">
                <div class="col col-sm-4">
                    <div class="section_title">Technical Guide</div>
                    <a href="{% url "article_old" %}">
                        <div class="box box_technical item">
                            <div class="textarea">
                                <div class="category_date"><span class="category">TECHNICAL GUIDE - </span> 10 June 2018</div>
                                <div class="title">Trade In a Luxury Watch Like a BMW: It’s a Booming Business</div>
                                <div class="author">By Stephanie Hoi-Nga Wong</div>
                                <div class="subtitle">Having seen the resale business for timepieces explode in the past few years</div>
                            </div>
                            <div class="separator_bar"></div>
                        </div>
                    </a>
                </div>
                <div class="col col-sm-8">
                    <div class="section_title">Lifestyle</div>
                    <a href="{% url "article_old" %}">
                        <div class="box box_view item">
                            <div class="img_container">
                                <img src="{% static 'blog/images/lifestyle.jpg' %}">
                            </div>
                            <div class="textarea">
                                <div class="category_date"><span class="category">LIFESTYLE - </span> 10 June 2018</div>
                                <div class="title">Collector’s homes: ali @santa_laura From Singapore</div>
                                <div class="author">By Tracey Llewellyn</div>
                                <div class="subtitle">This month we had a great chance to fly out to Singapore and meet up with a very good friend </div>
                            </div>
                            <div class="separator_bar"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}