{% extends "index_old.html" %}
{% load static %}

{% block content %}
<section class="container login">
    <div class="row">
        <div class="col-12 margin_top">
            <div class="login_message login_col">
                Log in to your user area or register
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 margin_top with_padding">
            <div class="login_col">
                <div class="title">LOGIN</div>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="login_user">User</label>
                        <input class="form-control" type="text" id="login_user" name="email">
                    </div>
                    <div class="form-group">
                        <label for="login_password">Password</label>
                        <input class="form-control" type="password" id="login_password" name="password">
                    </div>
                    <div class="password_recovery">
                        <a href="#">Forgot Password?</a>
                    </div>
                    {% if post %}
                        <div class="text-center error_message">Wrong credentials</div>
                    {% endif %}
                    <div class="text-center">
                        <button type="submit" name="login_submit" value="1" class="btn btn-dark">Enter <i class="fa fa-lock"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-sm-6 margin_top with_padding">
            <div class="login_col">
                <div class="title">NEW USER</div>
                <form method="post" novalidate id="signup_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ signup_form.email.id_for_label }}">Email</label>
                        {{ signup_form.email }}
                        {{ signup_form.email.errors }}
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="{{ signup_form.password1.id_for_label }}">Password</label>
                                {{ signup_form.password1 }}
                                {{ signup_form.password1.errors }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="{{ signup_form.password2.id_for_label }}">Confirm Password</label>
                                {{ signup_form.password2 }}
                                {{ signup_form.password2.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                      {{ signup_form.check1 }}
                      <label class="form-check-label" for="{{ signup_form.check1.id_for_label }}">I would like to regularly receive a with offers, products, and other news from Watchbot via email. I can revoke this agreement with Watchbot at any time.</label>
                      {{ signup_form.check1.errors }}
                    </div>
                    <div class="form-check">
                      {{ signup_form.check2 }}
                      <label class="form-check-label" for="{{ signup_form.check2.id_for_label }}">I accept Watchbot general terms and conditions and privacy policy</label>
                      {{ signup_form.check2.errors }}
                    </div>
                    <div class="text-center">
                        <button type="submit" name="signup_submit" value="1" class="btn btn-dark">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block extra_body_script %}
<script type="application/javascript">
</script>
{% endblock extra_body_script %}
