{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="registration-page" style="padding-bottom: 30vh">
        <div class="container">
            <h1 class="title mb-2">Reset Password</h1>
            <p class="text-white text-center mb-5">Enter new password</p>
            <form method="post" class="registration-form" autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm New Password</label>
                    <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
                </div>
                {% if error %}
                    <h5 class="text-warning text-center mb-4">{{ error }}</h5>
                {% endif %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Change password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}