watchbot/local_settings.py
watchbot/production_settings.py
.idea
static/tab_translation
static/sortable
static/image_cropping
static/CACHE
static/django_select2
static/rest_framework
static/modeltranslation
static/rest_framework_swagger
access_log
dev.db
*.DS_Store
.project
.pydevproject
*.log
*.log.*
touch.reload
*migration*
*.pyc
*.ini
*remote
*remote.py
*remote_dev
*remote.old
static/cked*
static/grappelli_modeltranslation*
static/select2*
static/grappelli
static/modeltranslation
*django.po
uwsgi*
access_log
react/node_modules
token_test.rtf
references.json
/.vscode
media/